{% from 'macro_term_table.jinja2' import index_concepts, list_items, list_hierarchy, table_properties, ref_dedicated_documentation, language_selector, anchor %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}DQV4AI{% endblock title %}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  {% block RESPEC %}
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "dqv4ai",
    title: "DQV4AI",
    subtitle: "Taxonomy for EU AI Act",
    publishDate: "{{data[vocab_name+'-metadata']['dct:modified']}}",
    specStatus: "UD",
    doJsonLd: true,
    lint: { "no-unused-dfns": false, "local-refs-exist": true },
    editors: [
      {
        name: "Anonymous"
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
{% endblock RESPEC %}
<link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>
{% block INTRODUCTION %}
  <section id="abstract">
    <p>Abstract ...</p>
  </section>
  <section id="sotd">
  </section>

{% endblock INTRODUCTION %}
{% block VOCAB %}
  <section id="vocab-core">
    <h2>Vocabulary</h2>
    <section id="dimensions">
      <h3>Dimensions</h3>
      {{ list_hierarchy(modules['core']['classes'], head='dqv:Dimension') }}
    </section>
    <section id="categories">
      <h3>Categories</h3>
      {% for category in vocab|filter_type_dict('dqv:Category') %}
        {% set category = category|resolve_concepts %}
        <section id="{{ category['Term'] }}">
          <h4>{{ category['skos:prefLabel'] }}</h4>
          {{ list_hierarchy(modules['core']['classes'], head='dqv:Dimension', mode=None, prop='dqv:inCategory', value=category['prefixed']) }}
        </section>
      {% endfor %}
    </section>
    <section id="metrics">
      <h3>Metrics</h3>
      {{ list_hierarchy(modules['core']['classes'], head='dqv:Metric') }}
    </section>
  </section>
{% endblock VOCAB %}

<section id="vocabulary">
<h2>Vocabulary Index</h2>
    {{ index_concepts(vocab, vocab_name, filter='external', skip_heading=True) }}
</section>

<script type="text/javascript" src="../js/common.js" defer></script>
</body>
</html>